Repository vivekrnv/sonic-buildimage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @sujinmkang, @prgeor, @vdahiya12, @qiluo-msft, @xumia, @sonic-net/sonic-build, @sonic-net/sonic-kernel, @sonic-net/sonic-platform, @sonic-net/sonic-management, @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @sonet-net/sonic-management, @StormLiangMS, @sonic-net/sonic-fundamentals, @sonic-net/sonic-dataplane

Fix header check
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
Owners: @lguohan

Update linux kernel to 6.1.123
  .gitmodules
  build_debian.sh
  installer/default_platform.conf
  rules/linux-kernel.mk
Owners: @lguohan, @qiluo-msft, @xumia

Integrate HW-MGMT 7.0040.2108 Changes
  platform/mellanox/hw-management.mk
  platform/mellanox/non-upstream-patches/external-changes.patch
Owners: @lguohan

Remove submodule
  .gitmodules
Owners: @lguohan

Update linux kernel to 6.1.123
  .gitmodules
  build_debian.sh
  installer/default_platform.conf
  rules/linux-kernel.mk
Owners: @lguohan, @qiluo-msft, @xumia

Integrate HW-MGMT 7.0040.2108 Changes
  platform/mellanox/hw-management.mk
  platform/mellanox/non-upstream-patches/external-changes.patch
Owners: @lguohan

Update the kernel to 6.1.123
  build_debian.sh
  files/dsc/install_debian.j2
  installer/default_platform.conf
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/centec-arm64/sonic-platform-modules-e530/debian/control
  platform/centec-arm64/sonic-platform-modules-fs/debian/control
  platform/centec-arm64/sonic_fit.its
  platform/centec-arm64/tsingma-bsp/debian/control
  platform/centec-arm64/tsingma-bsp/debian/tsingma-bsp.install
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-v682/debian/control
  platform/marvell/platform_arm64.conf
  platform/marvell/platform_armhf.conf
  platform/marvell/sonic-platform-nokia/7215-a1/scripts/nokia-7215-init.sh
  platform/marvell/sonic_fit.its
  platform/pensando/dsc-drivers/debian/control
  platform/pensando/dsc-drivers/debian/ionic-modules.install
  platform/pensando/platform.conf
  rules/linux-kernel.mk
Owners: @lguohan, @qiluo-msft, @xumia

[SmartSwitch] Remove PG 3 and 4 for Internal Ports
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_objects.j2
  files/build_templates/buffers_config.j2
  files/build_templates/qos_config.j2
Owners: @sonic-net/sonic-platform, @lguohan

Fix header
  device/mellanox/x86_64-mlnx_msn4700-r0/Mellanox-SN4700-O28/buffers_defaults_objects.j2
Owners: @sonic-net/sonic-platform

Fix template formatting
  files/build_templates/buffers_config.j2
Owners: @lguohan

Fix unit tests
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch.json
  src/sonic-config-engine/tests/sample_output/py3/qos-mellanox4700-o28-t1-smartswitch_dyn.json
Owners: @sonic-net/sonic-management

Integrate HW-MGMT 7.0040.2108 Changes
  platform/mellanox/hw-management.mk
Owners: @lguohan

Update to Linux 6.1.123
  build_debian.sh
  files/dsc/install_debian.j2
  installer/default_platform.conf
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/centec-arm64/sonic-platform-modules-e530/debian/control
  platform/centec-arm64/sonic-platform-modules-fs/debian/control
  platform/centec-arm64/sonic_fit.its
  platform/centec-arm64/tsingma-bsp/debian/control
  platform/centec-arm64/tsingma-bsp/debian/tsingma-bsp.install
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-v682/debian/control
  platform/marvell/platform_arm64.conf
  platform/marvell/platform_armhf.conf
  platform/marvell/sonic-platform-nokia/7215-a1/scripts/nokia-7215-init.sh
  platform/marvell/sonic_fit.its
  platform/pensando/dsc-drivers/debian/control
  platform/pensando/dsc-drivers/debian/ionic-modules.install
  platform/pensando/platform.conf
  rules/linux-kernel.mk
Owners: @lguohan, @qiluo-msft, @xumia

Remove the patch that is causing advertisedTo attribute to not populate correctly
  src/sonic-frr/patch/0117-bgpd-Replace-per-peer-connection-error-with-per-bgp.patch
  src/sonic-frr/patch/0117-bgpd-Show-bgp-afi-safi-shouldn-t-display-peers-in-gr.patch
  src/sonic-frr/patch/0118-bgpd-remove-apis-from-bgp_route.h.patch
  src/sonic-frr/patch/0119-bgpd-batch-peer-connection-error-clearing.patch
  src/sonic-frr/patch/0120-zebra-move-peer-conn-error-list-to-connection-struct.patch
  src/sonic-frr/patch/0121-bgpd-Allow-batch-clear-to-do-partial-work-and-contin.patch
  src/sonic-frr/patch/0122-bgpd-Tie-in-more-clear-events-to-clear-code.patch
  src/sonic-frr/patch/0123-zebra-send-v6-fast-RA-at-faster-interval.patch
  src/sonic-frr/patch/0124-lib-add-option-to-start-stop-wheel-timer.patch
  src/sonic-frr/patch/0125-bgpd-Paths-received-from-shutdown-peer-not-deleted.patch
  src/sonic-frr/patch/series
Owners: @lguohan

Update the kernel to 6.1.123
  .gitmodules
  build_debian.sh
  files/dsc/install_debian.j2
  installer/default_platform.conf
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/centec-arm64/sonic-platform-modules-e530/debian/control
  platform/centec-arm64/sonic-platform-modules-fs/debian/control
  platform/centec-arm64/sonic_fit.its
  platform/centec-arm64/tsingma-bsp/debian/control
  platform/centec-arm64/tsingma-bsp/debian/tsingma-bsp.install
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-v682/debian/control
  platform/marvell-prestera/platform_arm64.conf
  platform/marvell-prestera/platform_armhf.conf
  platform/marvell-prestera/sonic-platform-nokia/7215-a1/scripts/nokia-7215-init.sh
  platform/marvell-prestera/sonic_fit.its
  platform/pensando/dsc-drivers/debian/control
  platform/pensando/dsc-drivers/debian/ionic-modules.install
  platform/pensando/platform.conf
  rules/linux-kernel.mk
Owners: @lguohan, @qiluo-msft, @xumia

Remove patch that spikes up BGPD cpu
  src/sonic-frr/patch/0122-bgpd-Tie-in-more-clear-events-to-clear-code.patch
  src/sonic-frr/patch/0122-zebra-send-v6-fast-RA-at-faster-interval.patch
  src/sonic-frr/patch/0123-lib-add-option-to-start-stop-wheel-timer.patch
  src/sonic-frr/patch/0124-bgpd-Paths-received-from-shutdown-peer-not-deleted.patch
  src/sonic-frr/patch/series
Owners: @lguohan

[Mellanox] Integrate HW-MGMT 7.0040.4001 Changes
  platform/mellanox/hw-management.mk
Owners: @lguohan

Fix patch names in series file
  src/sonic-frr/patch/series
Owners: @lguohan

[Mellanox] Integrate HW-MGMT 7.0040.4001 Changes
  platform/mellanox/hw-management.mk
Owners: @lguohan

[Mellanox] Remove redundant patch which blocks some modules from loading
  platform/mellanox/hw-management/0002-Make-system-health-service-starts-after-hw-managemen.patch
  platform/mellanox/hw-management/0002-Remove-unused-non-upstream-kernel-modules-from-load.patch
Owners: @lguohan

[FRR] Add support for 514 BGP sessions
  src/sonic-frr/patch/0035-lib-Add-support-for-stream-buffer-to-expand.patch
  src/sonic-frr/patch/0036-zebra-zebra-crash-for-zapi-stream.patch
  src/sonic-frr/patch/0037-bgpd-Replace-per-peer-connection-error-with-per-bgp.patch
  src/sonic-frr/patch/0038-bgpd-remove-apis-from-bgp_route.h.patch
  src/sonic-frr/patch/0039-bgpd-batch-peer-connection-error-clearing.patch
  src/sonic-frr/patch/0040-zebra-move-peer-conn-error-list-to-connection-struct.patch
  src/sonic-frr/patch/0041-bgpd-Allow-batch-clear-to-do-partial-work-and-contin.patch
  src/sonic-frr/patch/0042-zebra-V6-RA-not-sent-anymore-after-interface-up-down.patch
  src/sonic-frr/patch/0043-bgpd-Paths-received-from-shutdown-peer-not-deleted.patch
  src/sonic-frr/patch/0044-bgpd-Modify-bgp-to-handle-packet-events-in-a-FIFO.patch
  src/sonic-frr/patch/0045-zebra-Limit-reading-packets-when-MetaQ-is-full.patch
  src/sonic-frr/patch/0046-bgpd-Delay-processing-MetaQ-in-some-events.patch
  src/sonic-frr/patch/0047-bgpd-Fix-holdtime-not-working-properly-when-busy.patch
  src/sonic-frr/patch/0048-bgpd-ensure-that-bgp_generate_updgrp_packets-shares-.patch
  src/sonic-frr/patch/0049-zebra-show-command-to-display-metaq-info.patch
  src/sonic-frr/patch/series
Owners: @lguohan

Integrate remaining patches
  src/sonic-frr/patch/0050-bgpd-add-total-path-count-for-bgp-net-in-json-output.patch
  src/sonic-frr/patch/0051-lib-Add-nexthop_same_no_ifindex-comparison-function.patch
  src/sonic-frr/patch/0052-zebra-show-nexthop-count-in-nexthop-group-command.patch
  src/sonic-frr/patch/0053-zebra-Allow-nhg-s-to-be-reused-when-multiple-interfa.patch
  src/sonic-frr/patch/0054-zebra-Prevent-active-setting-if-interface-is-not-ope.patch
  src/sonic-frr/patch/0055-zebra-Add-nexthop-group-id-to-route-dump.patch
  src/sonic-frr/patch/0056-zebra-Display-interface-name-not-ifindex-in-nh-dump.patch
  src/sonic-frr/patch/series
Owners: @lguohan

[Mellanox] Remove redundant patch which blocks some modules from loading
  platform/mellanox/hw-management/0002-Make-system-health-service-starts-after-hw-managemen.patch
  platform/mellanox/hw-management/0002-Remove-unused-non-upstream-kernel-modules-from-load.patch
Owners: @lguohan

x[nvidia-bluefield] Add support for NASA 25.7 version
  platform/nvidia-bluefield/docker-syncd-bluefield/Dockerfile.j2
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdk-src/doca/0001-Add-WA-to-a-bug-in-doca-build-script-which-matches-o.patch
  platform/nvidia-bluefield/sdk-src/doca/0001-Allow-compilation-with-warnings.patch
  platform/nvidia-bluefield/sdk-src/doca/0001-Remove-meson-from-connectx-dependencies.patch
  platform/nvidia-bluefield/sdk-src/nv_hws/.gitignore
  platform/nvidia-bluefield/sdk-src/nv_hws/Makefile
  sonic-slave-bookworm/Dockerfile.j2
Owners: @lguohan

[nvidia-bluefield] Differentiate cache based on compilation and download
  platform/nvidia-bluefield/recipes/sdk.dep
Owners: @lguohan

[nvidia-bluefield] Update platform drivers to use DKMS infrastructure
  platform/nvidia-bluefield/bluefield-platform-modules/Makefile
  platform/nvidia-bluefield/bluefield-platform-modules/debian/changelog
  platform/nvidia-bluefield/bluefield-platform-modules/debian/control
  platform/nvidia-bluefield/gpio-mlxbf3/Makefile
  platform/nvidia-bluefield/installer/create_sonic_image
  platform/nvidia-bluefield/mlx-bootctl/Makefile
  platform/nvidia-bluefield/mlxbf-gige/Makefile
  platform/nvidia-bluefield/mlxbf-pka/Makefile
  platform/nvidia-bluefield/mlxbf-ptm/Makefile
  platform/nvidia-bluefield/pinctrl-mlxbf3/Makefile
  platform/nvidia-bluefield/pwr-mlxbf/Makefile
  platform/nvidia-bluefield/recipes/bluefield-soc.dep
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdhci-of-dwcmshc/Makefile
  platform/nvidia-bluefield/tmfifo/Makefile
Owners: @lguohan

[nvidia-bluefield] Add support for NASA 25.7 version
  platform/nvidia-bluefield/docker-syncd-bluefield/Dockerfile.j2
  platform/nvidia-bluefield/recipes/sdk.dep
  platform/nvidia-bluefield/recipes/sdk.mk
  platform/nvidia-bluefield/sdk-src/doca/0001-Add-WA-to-a-bug-in-doca-build-script-which-matches-o.patch
  platform/nvidia-bluefield/sdk-src/doca/0001-Allow-compilation-with-warnings.patch
  platform/nvidia-bluefield/sdk-src/doca/0001-Remove-meson-from-connectx-dependencies.patch
  platform/nvidia-bluefield/sdk-src/nv_hws/.gitignore
  platform/nvidia-bluefield/sdk-src/nv_hws/Makefile
  sonic-slave-bookworm/Dockerfile.j2
Owners: @lguohan

Upgrade NASA/SAI to 25.7-RC1/SAIBuild0.0.43.1
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Owners: @lguohan

Upgrade FW to 45.1020
  platform/nvidia-bluefield/recipes/fw.mk
Owners: @lguohan

Update copyright headers
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/fw.mk
Owners: @lguohan

Add DKMS debs to download target
  platform/nvidia-bluefield/recipes/bluefield-soc.mk
Owners: @lguohan

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/        @sujinmkang @prgeor @vdahiya12

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan
/src/sonic-build-hooks/                 @sonic-net/sonic-build
/src/debootstrap/                       @sonic-net/sonic-build
/src/sonic-fips/                        @sonic-net/sonic-build

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# kernel
/src/sonic-linux-kernel/                @sonic-net/sonic-kernel

# devices
/device/                                @sonic-net/sonic-platform
/src/sonic-platform-common/             @sonic-net/sonic-platform
/src/sonic-platform-daemons/            @sonic-net/sonic-platform
/src/sonic-platform-pde/                @sonic-net/sonic-platform
/src/lm-sensors/                        @sonic-net/sonic-platform
/src/flashrom/                          @sonic-net/sonic-platform

# common library
/src/initramfs-tools/                   @qiluo-msft
/src/redis-dump-load/                   @sonic-net/sonic-management
/src/sonic-py-common/                   @sonic-net/sonic-management
/src/sonic-py-swsssdk/                  @sonic-net/sonic-management
/src/sonic-swss-common/                 @sonic-net/sonic-management
/src/bash/                              @sonic-net/sonic-management
/src/tacacs/                            @sonic-net/sonic-management
/src/radius/                            @sonic-net/sonic-management
/src/swig/                              @sonic-net/sonic-management
/src/socat/                             @sonic-net/sonic-management

# redis
/src/redis/                             @sonic-net/sonic-management
/src/hiredis/                           @sonic-net/sonic-management

# yang
/src/sonic-yang-models/                 @praveen-li @dgsudharsan @rathnasabapathyv @venkatmahalingam @qiluo-msft
/src/sonic-yang-mgmt/                   @sonet-net/sonic-management
/src/libyang/                           @sonic-net/sonic-management
/src/libyang1/                          @sonic-net/sonic-management
/src/libyang2/                          @sonic-net/sonic-management

# bgpcfgd
/src/sonic-bgpcfgd/                     @StormLiangMS

# sonic-config-engine
/src/sonic-config-engine/               @sonic-net/sonic-management

# sonic-utilities
/src/sonic-utilities/                   @sonic-net/sonic-management

# sonic-telemetry
/dockers/docker-sonic-telemetry         @sonic-net/sonic-management
/src/sonic-telemetry/                   @sonic-net/sonic-management

# snmp
/src/sonic-snmpagent/                   @sonic-net/sonic-management
/src/snmpd/                             @sonic-net/sonic-management

# dhcp relay
/src/dhcp6relay/                        @sonic-net/sonic-fundamentals
/src/dhcpmon/                           @sonic-net/sonic-fundamentals
/src/isc-dhcp/                          @sonic-net/sonic-fundamentals

# sflow
/src/sflow/                             @sonic-net/sonic-dataplane

# sonic restapi
/src/sonic-restapi/                     @sonic-net/sonic-dataplane

# sonic swss
/src/sonic-swss/                        @sonic-net/sonic-dataplane

# linux networking, e.g., libnl3, iproute2, ifupdown2, ethtool
/src/libnl3/                            @sonic-net/sonic-dataplane
/src/iproute2/                          @sonic-net/sonic-dataplane
/src/ifupdown2/                         @sonic-net/sonic-dataplane
/src/ethtool/                           @sonic-net/sonic-dataplane

# ptf
/src/ptf/                               @sonic-net/sonic-fundamentals
/src/ptf-py3/                           @sonic-net/sonic-fundamentals
/src/scapy/                             @sonic-net/sonic-fundamentals
