Repository vivekrnv/sonic-buildimage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @sujinmkang, @prgeor, @vdahiya12, @qiluo-msft, @xumia, @sonic-net/sonic-build, @sonic-net/sonic-kernel, @sonic-net/sonic-platform, @sonic-net/sonic-management, @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @sonet-net/sonic-management, @StormLiangMS, @sonic-net/sonic-fundamentals, @sonic-net/sonic-dataplane

[Mellanox] Disable SGX for SN5600/SN5400 platforms
  device/mellanox/x86_64-nvidia_sn5400-r0/installer.conf
  device/mellanox/x86_64-nvidia_sn5600-r0/installer.conf
Owners: @sonic-net/sonic-platform

Enable linux capabilities on sflow container for kernel 6.1.94 compatibility
  rules/docker-sflow.mk
Owners: @qiluo-msft, @xumia, @lguohan

Integrate HW-MGMT 7.0040.1008 Changes
  platform/mellanox/hw-management.mk
  platform/mellanox/non-upstream-patches/external-changes.patch
Owners: @lguohan

Add yang model for ENI FlexCounter entry
  dockers/docker-orchagent/enable_counters.py
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Owners: @lguohan, @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

Add yang model for ENI Flex Counter entry
  dockers/docker-orchagent/enable_counters.py
  src/sonic-yang-models/tests/yang_model_tests/tests_config/flex_counter.json
  src/sonic-yang-models/yang-models/sonic-flex_counter.yang
Owners: @lguohan, @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

Update to Linux kernel 5.10.218
  build_debian.sh
  installer/default_platform.conf
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/centec-arm64/sonic-platform-modules-e530/debian/control
  platform/centec-arm64/sonic-platform-modules-fs/debian/control
  platform/centec-arm64/sonic_fit.its
  platform/centec-arm64/tsingma-bsp/debian/control
  platform/centec-arm64/tsingma-bsp/debian/tsingma-bsp.install
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-v682/debian/control
  platform/marvell-arm64/platform.conf
  platform/marvell-arm64/sonic-platform-nokia/7215/scripts/nokia-7215-init.sh
  platform/marvell-arm64/sonic_fit.its
  platform/marvell-armhf/platform.conf
  rules/linux-kernel.mk
Owners: @lguohan, @qiluo-msft, @xumia

[bluefield] Add new 'appliance' sample config for DPU platforms.
  src/sonic-config-engine/config_samples.py
  src/sonic-yang-models/yang-models/sonic-device_metadata.yang
Owners: @sonic-net/sonic-management, @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

[Mellanox] Optimize switch init by running pre syncd tasks early
  files/build_templates/sonic_debian_extension.j2
  files/scripts/syncd.sh
  platform/mellanox/nv-syncd-shared/nv-syncd-shared.service
  platform/mellanox/nv-syncd-shared/nv-syncd-shared.sh
Owners: @lguohan

Use latest natsort package
  src/sonic-py-common/setup.py
Owners: @sonic-net/sonic-management

Updated the Yang test
  src/sonic-yang-models/tests/files/sample_config_db.json
Owners: @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

Enable CMIS host management on Mellanox-SN4280-O28 SKU
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/hwsku.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/media_settings.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/optics_si_settings.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/pmon_daemon_control.json
  device/mellanox/x86_64-nvidia_sn4280-r0/Mellanox-SN4280-O28/sai.profile
  device/mellanox/x86_64-nvidia_sn4280-r0/pmon_immediate_start
Owners: @sonic-net/sonic-platform

Replace straightforward sonic-cfggen calls with sonic-db-cli
  files/image_config/bannerconfig/banner-config.sh
  files/image_config/hostname/hostname-config.sh
Owners: @lguohan

WA to fix the blocked shutdown call
  src/system-health/health_checker/sysmonitor.py
Owners: @lguohan

Stop child processes before stopping the main process
  src/system-health/health_checker/sysmonitor.py
Owners: @lguohan

Update to Linux 6.1.94
  build_debian.sh
  files/dsc/install_debian.j2
  installer/default_platform.conf
  platform/barefoot/bfn-modules/debian/control
  platform/barefoot/sonic-platform-modules-bfn-montara/debian/control
  platform/barefoot/sonic-platform-modules-bfn-newport/debian/control
  platform/barefoot/sonic-platform-modules-bfn/debian/control
  platform/barefoot/sonic-platform-modules-wnc-osw1800/debian/control
  platform/broadcom/saibcm-modules/debian/control
  platform/broadcom/saibcm-modules/debian/opennsl-modules.dirs
  platform/broadcom/saibcm-modules/debian/opennsl-modules.install
  platform/broadcom/saibcm-modules/debian/rules
  platform/broadcom/sonic-platform-modules-alphanetworks/debian/control
  platform/broadcom/sonic-platform-modules-cel/debian/control
  platform/broadcom/sonic-platform-modules-dell/debian/control
  platform/centec-arm64/sonic-platform-modules-e530/debian/control
  platform/centec-arm64/sonic-platform-modules-fs/debian/control
  platform/centec-arm64/sonic_fit.its
  platform/centec-arm64/tsingma-bsp/debian/control
  platform/centec-arm64/tsingma-bsp/debian/tsingma-bsp.install
  platform/centec/sonic-platform-modules-e582/debian/control
  platform/centec/sonic-platform-modules-embedway/debian/control
  platform/centec/sonic-platform-modules-v682/debian/control
  platform/marvell/platform_arm64.conf
  platform/marvell/platform_armhf.conf
  platform/marvell/sonic-platform-nokia/7215-a1/scripts/nokia-7215-init.sh
  platform/marvell/sonic_fit.its
  platform/pensando/dsc-drivers/debian/control
  platform/pensando/dsc-drivers/debian/ionic-modules.install
  platform/pensando/platform.conf
  rules/linux-kernel.mk
Owners: @lguohan, @qiluo-msft, @xumia

Integrate HW-MGMT 7.0040.1011 Changes (#19)
  platform/mellanox/hw-management.mk
Owners: @lguohan

Integrate HW-MGMT 7.0040.1008 Changes (#18)
  platform/mellanox/hw-management.mk
  platform/mellanox/non-upstream-patches/external-changes.patch
Owners: @lguohan

[Mellanox] Disable IOMMU for SN4280 platform
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Owners: @sonic-net/sonic-platform

Fix newline issue
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Owners: @sonic-net/sonic-platform

[202311] Customize the integration tool to suite 2311 restrictions
  platform/mellanox/hw-management/hwmgmt_nonup_patches
  platform/mellanox/integration-scripts/helper.py
  platform/mellanox/integration-scripts/hwmgmt_helper.py
  platform/mellanox/integration-scripts/hwmgmt_kernel_patches.py
  platform/mellanox/integration-scripts/tests/data/expected_data/external-changes.patch
  platform/mellanox/integration-scripts/tests/test_hwmgmtaction.py
Owners: @lguohan

Integrate HW-MGMT 7.0030.4103 Changes
  platform/mellanox/hw-management.mk
  platform/mellanox/hw-management/hwmgmt_nonup_patches
Owners: @lguohan

Integrate HW-MGMT 7.0030.4104 Changes
  platform/mellanox/hw-management.mk
  platform/mellanox/hw-management/hwmgmt_nonup_patches
Owners: @lguohan

[Yang] Add TUNNEL_TERM field to ACL_RULE table
  src/sonic-yang-models/tests/yang_model_tests/tests/acl.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/acl.json
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Owners: @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

[sflow]: Enable linux capabilities on sflow container for kernel 5.10.218 compatibility
  rules/docker-sflow.mk
Owners: @qiluo-msft, @xumia, @lguohan

Enable debugging by default in Zebra
  dockers/docker-fpm-frr/frr/common/daemons.common.conf.j2
  dockers/docker-fpm-frr/frr/zebra/zebra.conf.j2
  rules/sonic-config.mk
  rules/sonic_bgpcfgd.mk
Owners: @lguohan, @qiluo-msft, @xumia

Handle comments
  src/sonic-yang-models/tests/files/sample_config_db.json
Owners: @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

Update Configuration.md
  src/sonic-yang-models/doc/Configuration.md
Owners: @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

Fux Unit Test
  src/sonic-yang-models/tests/files/sample_config_db.json
Owners: @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

[nvidia-bluefield] Write Counter Statistics to DPU_COUNTERS_DB
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/Nvidia-bf3-com-dpu/context_config.json
Owners: @sonic-net/sonic-platform

Handle comments
  src/sonic-yang-models/doc/Configuration.md
Owners: @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

[SmartSwitch] Skip xcvrd on the DPU
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/pmon_daemon_control.json
Owners: @sonic-net/sonic-platform

[eventd]: Disabling eventd tests (#17053)
  src/sonic-eventd/Makefile
Owners: @lguohan

[nvidia-bluefield] Add default disk to platform json
  device/nvidia-bluefield/arm64-nvda_bf-bf3comdpu/platform.json
Owners: @sonic-net/sonic-platform

Remove the usage of timezone file from container start scripts
  dockers/docker-database/docker-database-init.sh
  dockers/docker-dhcp-relay/start.sh
  dockers/docker-dhcp-server/start.sh
  dockers/docker-eventd/start.sh
  dockers/docker-fpm-frr/docker_init.sh
  dockers/docker-iccpd/start.sh
  dockers/docker-lldp/start.sh
  dockers/docker-macsec/start.sh
  dockers/docker-macsec/supervisord.conf
  dockers/docker-mux/docker-init.sh
  dockers/docker-nat/start.sh
  dockers/docker-orchagent/docker-init.j2
  dockers/docker-platform-monitor/docker_init.j2
  dockers/docker-router-advertiser/docker-init.sh
  dockers/docker-sflow/start.sh
  dockers/docker-sflow/supervisord.conf
  dockers/docker-snmp/start.sh
  dockers/docker-sonic-gnmi/start.sh
  dockers/docker-sonic-mgmt-framework/start.sh
  dockers/docker-sonic-p4rt/start.sh
  dockers/docker-sonic-telemetry/start.sh
  dockers/docker-teamd/start.sh
Owners: @lguohan, @qiluo-msft, @sonic-net/sonic-management

Mount localtime instead of timezone
  dockers/docker-macsec/Dockerfile.j2
  dockers/docker-sflow/Dockerfile.j2
  rules/docker-bmp.mk
  rules/docker-database.mk
  rules/docker-dhcp-relay.mk
  rules/docker-dhcp-server.mk
  rules/docker-eventd.mk
  rules/docker-fpm-frr.mk
  rules/docker-gnmi.mk
  rules/docker-iccpd.mk
  rules/docker-lldp.mk
  rules/docker-macsec.mk
  rules/docker-mux.mk
  rules/docker-nat.mk
  rules/docker-orchagent.mk
  rules/docker-p4rt.mk
  rules/docker-platform-monitor.mk
  rules/docker-router-advertiser.mk
  rules/docker-sflow.mk
  rules/docker-snmp.mk
  rules/docker-sonic-mgmt-framework.mk
  rules/docker-teamd.mk
  rules/docker-telemetry.mk
Owners: @lguohan, @qiluo-msft, @xumia

[Nvidia] [SN4280] Set default frequency governor to performance
  device/mellanox/x86_64-nvidia_sn4280-r0/installer.conf
Owners: @sonic-net/sonic-platform

[YANG] Add srv6 yang model and unit tests (#21175)
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/yang_model_tests/tests/srv6.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/srv6.json
  src/sonic-yang-models/yang-models/sonic-srv6.yang
Owners: @lguohan, @praveen-li, @dgsudharsan, @rathnasabapathyv, @venkatmahalingam, @qiluo-msft

Handle exception raised during inotify import
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
Owners: @lguohan

Handle exception during Inotify import
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
Owners: @lguohan

Fix the header check failure
  platform/mellanox/mlnx-platform-api/sonic_platform/inotify_helper.py
Owners: @lguohan

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/        @sujinmkang @prgeor @vdahiya12

# build
/rules/         @qiluo-msft @xumia @lguohan
/Makefile       @qiluo-msft @xumia @lguohan
/Makefile.cache @qiluo-msft @xumia @lguohan
/Makefile.work  @qiluo-msft @xumia @lguohan
/slave.mk       @qiluo-msft @xumia @lguohan
/scripts        @qiluo-msft @xumia @lguohan
/src/sonic-build-hooks/                 @sonic-net/sonic-build
/src/debootstrap/                       @sonic-net/sonic-build
/src/sonic-fips/                        @sonic-net/sonic-build

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

# dockers
/dockers/docker-base*/                  @qiluo-msft
/dockers/docker-config-engine*/         @qiluo-msft
/dockers/docker-snmp/                   @qiluo-msft

# kernel
/src/sonic-linux-kernel/                @sonic-net/sonic-kernel

# devices
/device/                                @sonic-net/sonic-platform
/src/sonic-platform-common/             @sonic-net/sonic-platform
/src/sonic-platform-daemons/            @sonic-net/sonic-platform
/src/sonic-platform-pde/                @sonic-net/sonic-platform
/src/lm-sensors/                        @sonic-net/sonic-platform
/src/flashrom/                          @sonic-net/sonic-platform

# common library
/src/initramfs-tools/                   @qiluo-msft
/src/redis-dump-load/                   @sonic-net/sonic-management
/src/sonic-py-common/                   @sonic-net/sonic-management
/src/sonic-py-swsssdk/                  @sonic-net/sonic-management
/src/sonic-swss-common/                 @sonic-net/sonic-management
/src/bash/                              @sonic-net/sonic-management
/src/tacacs/                            @sonic-net/sonic-management
/src/radius/                            @sonic-net/sonic-management
/src/swig/                              @sonic-net/sonic-management
/src/socat/                             @sonic-net/sonic-management

# redis
/src/redis/                             @sonic-net/sonic-management
/src/hiredis/                           @sonic-net/sonic-management

# yang
/src/sonic-yang-models/                 @praveen-li @dgsudharsan @rathnasabapathyv @venkatmahalingam @qiluo-msft
/src/sonic-yang-mgmt/                   @sonet-net/sonic-management
/src/libyang/                           @sonic-net/sonic-management
/src/libyang1/                          @sonic-net/sonic-management
/src/libyang2/                          @sonic-net/sonic-management

# bgpcfgd
/src/sonic-bgpcfgd/                     @StormLiangMS

# sonic-config-engine
/src/sonic-config-engine/               @sonic-net/sonic-management

# sonic-utilities
/src/sonic-utilities/                   @sonic-net/sonic-management

# sonic-telemetry
/dockers/docker-sonic-telemetry         @sonic-net/sonic-management
/src/sonic-telemetry/                   @sonic-net/sonic-management

# snmp
/src/sonic-snmpagent/                   @sonic-net/sonic-management
/src/snmpd/                             @sonic-net/sonic-management

# dhcp relay
/src/dhcp6relay/                        @sonic-net/sonic-fundamentals
/src/dhcpmon/                           @sonic-net/sonic-fundamentals
/src/isc-dhcp/                          @sonic-net/sonic-fundamentals

# sflow
/src/sflow/                             @sonic-net/sonic-dataplane

# sonic restapi
/src/sonic-restapi/                     @sonic-net/sonic-dataplane

# sonic swss
/src/sonic-swss/                        @sonic-net/sonic-dataplane

# linux networking, e.g., libnl3, iproute2, ifupdown2, ethtool
/src/libnl3/                            @sonic-net/sonic-dataplane
/src/iproute2/                          @sonic-net/sonic-dataplane
/src/ifupdown2/                         @sonic-net/sonic-dataplane
/src/ethtool/                           @sonic-net/sonic-dataplane

# ptf
/src/ptf/                               @sonic-net/sonic-fundamentals
/src/ptf-py3/                           @sonic-net/sonic-fundamentals
/src/scapy/                             @sonic-net/sonic-fundamentals
